<!DOCTYPE html>
<!DOCTYPE html>
<html lang="zh-CN">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页</title>

    <script type="text/javascript" src="{% static "bootstrap/js/jquery-2.0.0.min.js" %}"> </script>
	<script type="text/javascript" src="{% static "bootstrap/js/jquery-ui.js" %}"></script>
	<link href="{% static "bootstrap/css/bootstrap-combined.min.css" %}" rel="stylesheet" media="screen" >
	<script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"s></script>
	<link rel="shortcut icon" href="{%  static "images/favicon.ico" %}">
</head>

<body>
<div class="container-fluid" id="LG">
	<div class="row-fluid">
	    <img src="{% static "images/head1.png" %}" alt="返回主页">
		<div class="span12" >
		</div>
	</div>

	<div class="row-fluid">
	    <div class="span2">
	    </div>
		<div class="span6">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="/blog">首页</a>
				</li>
				<li>
					<a href="#">资料</a>
				</li>
				<li >
					<a href="#">信息</a>
				</li>
			</ul>
			{% block context %}

			{% endblock context %}
		</div>


		<div class="span3">
		        <ul class="user">
						{% if user.is_authenticated %}
							欢迎：{{ user.username }}
							&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							<a href="/blog/logout">退出</a>
						{% else %}
							<a href="/blog/register" ">注册</a>
                        	<a href="/blog/login">登录</a>
                        {% endif %}
				</ul>
				</br>


             <form action="" method="post">{% csrf_token %}
			 <div class="input">
                <input type="text" class="form-control" placeholder="Search for...">
                <input type = 'submit' placeholder="Login" value="GO">
             </div>
             </br>
             </form>



			<div class="list-group">
                <a class="list-group-item active">
                文章分类
                </a>
                {% if categories %}
                {% for c in categories %}
                <li class="list-group-item">
                <a href="{% url 'blog:category' c.id %}">{{ c.name }}</a>
                </li>
                {% endfor %}
                {% endif %}
            </div>

            {% block calender %}
            {% include "blog/calender.html" %}
            {% endblock %}



		</div>

		<div class="span1">
	    </div>

	</div>
</div>
</body>
</html>



