<!DOCTYPE html>
<!DOCTYPE html>
<html lang="zh-CN">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyBlog</title>

    <!--<script type="text/javascript" src="{% static "bootstrap/js/jquery-2.0.0.min.js" %}"> </script>-->
	<!--<script type="text/javascript" src="{% static "bootstrap/js/jquery-ui.js" %}"></script>-->
    <link href="{% static 'bist/css/bootstrap.css' %}" rel="stylesheet" media="screen" >
    <link href="{% static 'bist/css/customed.css' %}" rel="stylesheet" media="screen" >
	<link href="{%  static 'images/favicon.ico' %}" rel="shortcut icon" >
    <script type="text/javascript" src="{% static 'bist/js/jquery.js' %}"s></script>
    <script type="text/javascript" src="{% static 'bist/js/bootstrap.js' %}"s></script>

</head>

<body background="{% static "images/background.png" %}">
<!--header start-->
<div class="container-fluid row-fluid " id="bg-header">
        <div class="col-mad-12 ">
            <h1 class="text-center">我的博客</h1>
            <h3 class="text-center" >编写灵活、稳定、高质量的代码</h3>
        </div>

		<div class="col-md-8 col-md-offset-2 " >
            <div class="navbar-wrapper">
		        <ul class="nav nav-tab nav-justified list-group-item" id="bg-nav">
                    <li class="active"><a href="/blog/">首页</a></li>
                    <li><a href="/blog/ziliao/">资料</a></li>
                    <li><a href="#">CSS</a></li>
                    <li><a href="#">About</a></li>
                    {% if user.is_authenticated %}
                    <li ><p align="center">欢迎：{{ user.username }}</p></li>
                    <li><a href="/blog/logout/">退出</a></li>
                    {% else %}
                    <li><a href="/blog/register/" ">注册</a></li>
                    <li><a href="/blog/login/">登录</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
</div>
</br>
<!--header end-->

<!--context start-->
<div class="container-fluid row-fluid" >
    <!--main strat-->
		    <div class="col-md-6 col-md-offset-2 ">
		    	    {% block context %}
		    	    {% endblock context %}
		    </div>
    <!--main end-->
    <!--siderbar start-->
		    <div class="col-md-2">

            {% block search %}
            {% include "blog/side/search.html" %}
            {% endblock %}
                </br>
            {% block calender %}
            {% include "blog/side/calender.html" %}
            {% endblock %}
                </br>
            {% block category %}
            {% include "blog/side/category.html" %}
            {% endblock %}

            {% block month %}
            {% include "blog/side/month.html" %}
            {% endblock %}
            </div>
    <!--sidebar end-->
</div>
<!--context end-->
</body>
</html>




