{% extends "blog/base.html" %}
{% load custom_markdown %}
    {% block context %}
		<div class="list-group-item ">
			<h1>{{ article.title }}</h1>
            <p>{{ article.content|custom_markdown }}</p>
		</div>
<!-- 多说评论框 start -->
	<!--<div class="ds-thread" data-thread-key="{{ article.id }}" data-title="{{ article.title }}" data-url="请替换成文章的网址"></div>-->
<!--&lt;!&ndash; 多说评论框 end &ndash;&gt;-->
<!--&lt;!&ndash; 多说公共JS代码 start (一个网页只需插入一次) &ndash;&gt;-->
<!--<script type="text/javascript">-->
<!--var duoshuoQuery = {short_name:"mysite2016"};-->
	<!--(function() {-->
		<!--var ds = document.createElement('script');-->
		<!--ds.type = 'text/javascript';ds.async = true;-->
		<!--ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';-->
		<!--ds.charset = 'UTF-8';-->
		<!--(document.getElementsByTagName('head')[0] -->
		 <!--|| document.getElementsByTagName('body')[0]).appendChild(ds);-->
	<!--})();-->
	<!--</script>-->
<!-- 多说公共JS代码 end -->

    {% endblock context %}

